{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> REX USER AUTH</title>
    <link rel="stylesheet" href="{% static 'acc/styles.css'%}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
    <div class="container">
      <h2 class='title'>Sign In</h2>
      <div class="content"> 
        <form action="signin" method='post'>
          {% csrf_token %}
          <div class='user-details'>
            <div class="input-box">
              <span class="details">Username</span>
              <input type="text" placeholder="Enter your username"  name='username' required>
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" placeholder="Enter your password" name='password' required>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Sign-In">
          </div>
          Don't have an account? <a href="{% url 'signup' %}" >Signup</a>
        </form>
        

      
      
        {% for message in messages %}
        <h3 class='details'>{{message}}</h3>
        {%endfor%}
      </div>
    </div>
    <script src="{% static 'acc/script.js' %}"></script>

    </body>
  </head>
