{% extends 'layout.html'%}

{% block body %}
    <div class="container">
      <h2 class='title'>Sign In</h2>
      <div class="content"> 
        <form action="signin" method='post'>
          {% csrf_token %}
          <div class='user-details'>
            <div class="input-box">
              <span class="details">Username</span>
              <input type="text" placeholder="Enter your username"  name='username' required>
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" placeholder="Enter your password" name='password' required>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Sign-In">
          </div>
          Don't have an account? <a href="{% url 'signup' %}" >Signup</a>
        </form>
        

      
      
        {% for message in messages %}
        <h3 class='details'>{{message}}</h3>
        {%endfor%}
      </div>
    </div>

  {%endblock%}